sequencing/
data/
logs/
ase/
final_paper/
genotype/
nohup.out
old/
Stephane/
temp/
analysis/exploratory/
analysis/2020_kidney_grant/
references/
documents/
figs/
final_paper_figs/

analysis/final_figs/
analysis/ase/whole_genome_SNVs_inclAnno_select.txt.gz
analysis/gtex_comparison/xcell_formatted/
analysis/ase/bam_inputs/
analysis/ase/vcf_inputs/
analysis/ase/results/
analysis/qtl/cis/
analysis/qtl/loseq18/


analysis/differential_expr/GeneEnrich_.Rmd
analysis/differential_expr/deff_exp.R
analysis/differential_expr/deff_exp.Rmd
analysis/differential_expr/deseq2_sex.Rmd
analysis/differential_expr/deseq2_sex_v2.Rmd
analysis/differential_expr/tis_dds.rds
analysis/differential_expr/resLFC.rds

analysis/dz_association/evidence_weighting.Rmd
analysis/dz_association/open_targets_analysis.R
analysis/dz_association/open_targets_analysis.Rmd
analysis/dz_association/open_targets_file_processing_genetic.R
analysis/dz_association/open_targets_genetic_analysis.R






.README.txt
loseq.Rproj
.Rhistory
.TemporaryItems
._.TemporaryItems
.Rproj.user
